.quantity {
  &-button {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    padding: 16px 30px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;

    svg {
      color: black;
    }
  }
  &-button:first-of-type {
    margin-left: 0;
  }

  &-container {
    display: flex;
    align-items: center;
  }
}

.item-save-or-remove-container {
  display: flex;
  align-items: center;
  height: 65px;
}

.basket-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.basket {
  &__page {
    margin-top: 100px;
  }
  &__clear-button {
    margin-right: 16px;
    background-color: transparent;
    color: orange;

    &:hover {
      background-color: transparent;
    }
  }

  &__proceed {
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 8px;
    border-radius: 5px;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  &-item {
    margin: 40px 0;
    background-color: var(--bg-secondary);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid;
  }

  &-item-total {
    font-weight: bold;
  }

  &-save-button {
    height: 35px;
  }

  &-quantity-total {
    margin-left: 8px;
  }

  &-remove-button {
    width: 30px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.basket-item-controls {
  display: flex;
  align-items: center;
}
