.voice-options {
  margin: 20px 0;
  background-color: var(--bg-color-lighter);
  border-radius: 12px;
  position: relative;

  &__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #1976d2;
  }

  &__highlight {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 8px;
    background-color: rgba(100, 150, 255, 0.1);
    transition: transform 0.25s ease, height 0.25s ease;
    z-index: 0;
    border: 1px solid darkorange;
  }

  .voice-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color-lighter);
    padding: 10px 13px;
    border-radius: 12px;
    margin: 6px 0;
    transition: background-color 0.2s ease;
    min-height: 50px;
    width: 100%;
    background: none;
    border: 1px solid transparent;
    text-align: left;

    &:hover {
      background-color: transparent;
      background: none;
    }

    &--left {
      display: flex;
    }

    &__description {
      font-size: 0.9rem;
      display: inline-block;
      margin-left: 8px;
      margin-top: 1px;
      position: relative;
    }

    .radio-circle {
      position: relative;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      border: 2px solid #ff9800;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: none;
      appearance: none;
      padding: 0;

      .inner-circle {
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ff9800;
        opacity: 0;
        transition: opacity 0.2s ease;
      }

      &.checked .inner-circle {
        opacity: 1;
      }

      &:hover {
        border-color: #ffa733;
      }
    }

    .label {
      color: #fff;
      font-size: 16px;
      margin-left: 12px;
      flex: 1;
      user-select: none;
      display: flex;

      &__name {
        color: orange;
      }
    }

    .play-button {
      background-color: #ff9800;
      border: none;
      border-radius: 8px;
      padding: 8px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;
      margin: 0;

      &:hover {
        background-color: #e68900;
      }
    }
  }
}
