.share {
  margin: 50px 0;

  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    max-width: 200px;
    margin: auto;
  }

  &-link {
    height: 50px;
    display: flex;
    align-items: center;
  }

  &--no-margin {
    margin: 0;
  }
  text-align: center;
  &-divider {
    height: 1px;
    width: 100%;
    background-color: orange;
    opacity: 0.6;
  }

  &-icon {
    height: 40px;
    width: auto;
  }

  &-button {
    margin: 8px;
  }

  &-links {
    a {
      margin: 8px;
      display: flex;
      align-items: center;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &-intro {
    display: block;
  }
}
