.share {
  margin: 50px 0;

  &--no-margin {
    margin: 0;
  }
  text-align: center;
  &-divider {
    height: 1px;
    width: 100%;
    background-color: orange;
    opacity: 0.6;
  }

  &-icon {
    height: 40px;
    width: auto;
  }

  &-button {
    margin: 8px;
  }

  &-links {
    display: flex;
    justify-content: center;

    a {
      margin: 8px;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &-intro {
    display: block;
  }
}
