.account-status-message {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  color: orange !important;
}

.time {
  margin-top: 0;
}

.credit-info {
  display: flex;
  align-items: center;
  margin-top: 0px;

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      max-width: unset;
    }
  }
}
