.account-status-message {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  color: orange !important;
}

.time {
  margin-top: 0;
}

.credit-info {
  display: flex;
  align-items: center;
  width: 210px;
  margin-top: 0px;
  // position: absolute;
  // top: 8px;
  @media (min-width: 768px) {
    width: unset;
  }

  &__text {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
  }
}
