.footer-hero {
  padding: 20px 0;

  div {
    background-color: transparent;
  }
  min-height: 300px;
  background-color: var(--bg-color-light);
  span {
    color: var(--primary-color-darker) !important;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: auto;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      width: 80%;
    }
  }

  &__logo {
    width: 120px;
    display: block;
    margin: 80px auto;
  }

  &__column {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
      align-items: start;
    }

    button {
      margin: 40px 0;
    }
  }

  &__column-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 768px) {
      align-items: start;
    }
    &-redirect {
      background-color: transparent;
      background: none;
      color: orange;
      text-align: left;
      font-size: 0.8rem;
      margin: 5px 0 !important;
      padding: 0;

      &:hover {
        background-color: transparent;
        text-decoration: underline;
        color: steelblue;
      }
    }
  }

  &__column-list-link {
    margin: 5px 0;
    font-size: 0.8rem;
  }

  &__app-store {
    width: 150px;
    margin: 20px 0;
  }
}
