.meditation-library {
  &__search-results {
    color: var(--primary-color);
    scroll-margin-top: 180px;
  }

  &__toggle-container {
    display: flex;
    align-items: center;

    &__info-cta {
      background-color: transparent;
      color: orange;
      padding: 0;
      height: 20px;
      margin: 0;
      margin-left: -10px;
      &:hover {
        background-color: transparent;
      }
    }
  }

  &__ai-popup {
    background-color: transparent;
    p {
      color: orange;
    }
  }

  &__ia-select {
    margin: 26px 0;
    overflow: hidden;
    transition: max-height 300ms ease;

    &--hide {
      max-height: 0;
    }

    &--show {
      max-height: 150px;
    }
  }
}
