.icon {
  height: 60px;
  width: 60px;

  &--large {
    height: 110px;
    width: 110px;

    @media (max-width: 768px) {
      height: 100px;
      width: 100px;
    }
  }
  max-width: unset;
  &__container {
    display: inline;
  }
}
