.journey {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid orange;
  padding: 40px 0;
  margin-top: 60px;
  &__title {
    font-size: 2rem;
    text-align: center;
  }

  &__sub {
    margin-bottom: 30px;
    opacity: 0.6;
  }

  &__kpi-grid {
    border-top: 1px solid orange;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__kpi {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-image {
      height: 100px;
      margin-bottom: 20px;
    }

    &-count {
      color: orange;
      font-size: 3rem;
      margin-top: -15px;
      animation: spinInX 900ms ease-in-out;
    }

    &-comparison {
      color: orange;
      font-weight: 300;
      font-size: 0.8rem;
    }
  }

  &__stats-container {
    padding: 40px 0;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__stats-header {
    text-align: center;
    h3 {
      font-size: 2rem;
    }
  }

  &-cta {
    background: none;
    color: orange;

    &:hover {
      background: none;
    }

    &--active {
      text-decoration: underline;
      text-underline-offset: 6px; /* increase this for more space */
    }
  }

  &__stats-column {
    border: 1px solid darkorange;
    padding: 30px;
    border-radius: 10px;

    h3 {
      font-size: 1.8rem;
    }

    &--primary {
      text-align: center;
      img {
        height: 200px;
        width: 200px;
        margin: auto;
        animation: spinInX 900ms ease-in-out;
      }

      &-title {
        font-size: 2rem;
      }
      &-listens {
        font-size: 1.2rem;
      }
      &-percent {
        font-size: 1.6rem;
      }
    }
  }

  &__stats-cta {
    background: none;
    color: orange;

    &:hover {
      background: none;
    }
  }

  &__stats-list {
    list-style: none;
    li {
      margin-bottom: 15px;
    }
  }

  &__stats-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      color: orange !important;
    }

    &-text {
      display: flex;
      align-items: center;
      margin-left: -10px;
    }
  }

  &__progress {
    background: linear-gradient(to right, orange 0%, orange 75%, rgba(255, 165, 0, 0.6) 90%, rgba(255, 165, 0, 0) 100%);
    height: 10px;
    width: 30px;
    transition: width 600ms ease;

    &-container {
      background-color: rgba(darkorange, 0.1);
    }
  }

  &__time {
    font-size: 1.8rem;
    color: orange;
    font-weight: bold;

    &__container {
      padding: 50px;
      text-align: center;
      h3 {
        font-size: 2rem;
      }
    }
  }

  &__streak {
    &-text {
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        margin: 0;
        margin-left: 10px;
      }
      span {
        font-size: 2rem;
        color: orange;
        margin-left: 10px;
        font-weight: bold;
      }

      @media (max-width: 768px) {
        flex-direction: column;
        span,
        h3 {
          font-size: 1.5rem;
        }

        h3 {
          margin-top: 10px;
        }
      }
    }
  }

  &__range-switch {
    margin-bottom: 20px;
    width: 100%;
  }
}

@keyframes spinInX {
  0% {
    transform: perspective(600px) rotateY(-90deg);
    opacity: 0;
  }

  60% {
    transform: perspective(600px) rotateY(20deg);
    opacity: 1;
  }

  100% {
    transform: perspective(600px) rotateY(0deg);
  }
}
