.circle-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.circle-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.circle-checkbox .checkmark {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s, border-color 0.2s;

  &:hover {
    scale: 1.1;
    transition: 300ms;
  }
}

/* faint tick by default */
.circle-checkbox .checkmark::after {
  content: "";
  width: 9px;
  height: 16px;
  border: solid #bbb;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) scale(0.8);
  opacity: 0.9;
  transition: transform 0.2s ease, opacity 0.2s ease, border-color 0.2s;

  &:hover {
    border-color: red;
  }
}

/* checked: circle filled, tick bright & bigger */
.circle-checkbox input:checked ~ .checkmark {
  background-color: var(--primary-color);
  border-color: green;
}

.circle-checkbox input:checked ~ .checkmark::after {
  border-color: white;
  transform: rotate(45deg) scale(1);
  opacity: 1;
}
