.search {
  height: 100%;
  &-cta {
    background-color: transparent;
    display: flex;
    align-items: center;

    span {
      color: orange;
      margin-right: 8px;
    }
    &:hover {
      background-color: transparent;
    }
  }

  &__no-results {
    color: orange;
    margin: auto;
  }

  &__results-section {
    padding-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__results-container {
    overflow: auto;
    height: 80%;
    width: 100%;
    scroll-behavior: smooth;
    a {
      color: orange;
    }

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
  }

  &__clear {
    margin-left: 8px;
  }

  &__input {
    flex: 1;

    &::placeholder {
      color: orange;
    }
  }

  &__inputs {
    width: 100%;
    display: flex;
  }

  &__results-count {
    display: flex;
    padding: 17px 0;
  }

  &__results-tab {
    margin-right: 16px;
    text-decoration: underline;
    font-weight: 600;
    color: orange;

    &:hover {
      text-decoration: none;
    }
  }

  &__result {
    margin: 16px 0;

    &--meditation {
      margin: 24px 0;
      padding: 12px 0;
    }
  }

  &__result-link {
    margin-left: 12px;
  }
}
