.ambient {
  display: flex;
  align-items: center;
  color: orange;
  background-color: transparent;

  label {
    margin-right: 8px;
    display: block;
  }

  select {
    width: 120px;
    height: 45px;
    color: orange;
  }
}

.ia-logo {
  height: 100px;
}
