@import "../../variables.scss";

.signup {
  background-color: transparent;
  text-align: center;
  overflow-y: auto;
  height: 73dvh !important;
  &-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;

    &__input {
      border-radius: 8px;
      height: 50px;
      margin: 8px;
    }

    &__cta {
      display: flex;
      justify-content: center;
    }

    &-label {
      text-align: left;
      color: orange;
      margin-left: 10px;
    }
  }

  &-legal {
    font-size: 0.7rem;
    color: orange;
    margin-top: -15px;
  }
}
